<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Contact Form</title>
</head>
<body>
	<p>You have received a message from the site's contact form, from <%= "#{ @name }, #{ @email }." %></p>
</body>
</html>